.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0x;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input::placeholder {
  color: var(--color-gray);
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--main-border);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--purple);
}

#login-form input[type="submit"] {
  background-color: var(--purple);
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
