.user-component {
  justify-content: space-between;
}

.user-component__column {
  margin-bottom: 30px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-me {
  margin-bottom: -3px;
}

.user-component__column:last-child {
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-component__state {
  background-color: white;
  border: 2px solid var(--main-color);
  width: auto;
  height: 35px;
  padding: 0px 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--color-gray);
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
